.container {
  max-width: 960px;
}

input:valid {
  background-color: #eefaffbb;
  border: 2px solid #002fff;
}
fieldset:invalid {
  border: 2px solid #ff0000;
  background-color: #f5f5dc;
}

input:invalid {
  border: 2px solid #ff0000;
  background-color: #f5f5dc;
}

.text-danger {
  color: #ff0000; 
}
.text-success {
  color: #008000; 
}
